.button {
  &.buttonOutlined {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 20px;
    border: 1px solid transparent;
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: none;
    transition: all 0.2s ease;
    height: 2.3125rem;

    &:hover {
      background-color: var(--secondary);
      border: 1px solid transparent;
    }
  }

  &.buttonSizeLarge {
    width: 100%;
  }

  &.butonSizeMedium {
    max-width: 15rem;
  }

  .progressBar {
    position: absolute;
  }
}

.secondary {
  &.buttonOutlined {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid var(--primary);
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: none;

    &:hover {
      background-color: transparent;
      border: 1px solid var(--primary);
    }
  }
}

.buttonText {
  color: var(--gray-400);
  text-transform: none;
  font-family: var(--font-family);
  font-size: 0.875rem;
  font-weight: 400;
  height: 20px;
  transition: none;

  &:disabled {
    color: var(--disabled);
  }
}

.buttonContained {
  background-color: transparent;
  color: var(--primary);
  text-transform: none;
  box-shadow: none;
  border: 1px solid var(--primary);
  font-weight: 600;
  width: 200px;
  border-radius: 36px;
  height: 2rem;

  &:hover {
    box-shadow: none;
  }
}
