@import "../../styles/breakpoints";

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 0.313rem;

  @include media-md {
    padding: 0 1.25rem;
  }
}

@include media-xs {
  .container {
    padding: 0 1.563rem;
  }
}
