.headerHomeContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 4.688rem;
  border-bottom: 1px solid var(--gray-100);
}

.headerNotHomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4.688rem;
  border-bottom: 1px solid var(--gray-100);
}

.iconsWrapper {
  display: flex;
  gap: 2.5rem;

  > div {
    cursor: pointer;
  }

  .searchWrapper {
    display: flex;
    gap: 0.625rem;

    p {
      font-size: 1rem;
      color: var(--gray-200);
      font-weight: 400;
    }
  }
}
